@font-face {
    font-family: "Arrie";
    src: url("fontes/ArrieGarde.ttf");

}

*{
    -webkit-user-select: none;
}

.back{
    float: top;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    background:-webkit-linear-gradient(#FAFAFA, lightgray);
    
}

.cabecalho{
    font-family: Arrie;
    text-align: center;
    float: top;
    position: fixed;
    width: 100%;
    height: 50px;
    background: #7A0001;
    top: 0px;
    left: 0px;
    -webkit-box-shadow: 0px 2px 0px grey;
    z-index: 1000;

}

.bot{
    background-color: whitesmoke;
    float: left;
    width: 150px;
    height: 40px;
    background-color: whitesmoke;
    color: #7A0001;
    font-size: 30px;
    -webkit-transition: 0.2s;
    margin-left: 5px;
    margin-top: 5px;
}
.bot:hover{
    -webkit-box-shadow: 0px 5px 0px whitesmoke;
    color: whitesmoke;
    background-color: #4D0000;
}

.corpo{
    float: left;
    position: relative;
    top: 75px;
    left: 15%;
    width: 50%;
    background: whitesmoke;
    height: auto;
    margin-bottom: 10px;
    -webkit-box-shadow: 2px -2px 0px gainsboro;
}

.logo{
    float: right;
    color: whitesmoke;
    font-size: 40px;
    margin-right: 10px;
    cursor:default;
}
.logoCB{
    float: right;
    background-image: url(imagens/LogoCB.png);
    background-size: 40px 40px;
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
    height: 40px;

}
.textoAp{
    float: top;
    padding: 20px 60px;
    color: #202020;
    font-family: arial;
    font-size: 20px;
    text-align: justify;
    cursor:default;
}

.log{
    float: right;
    position: relative;
    top: 75px;
    margin-left: 10px;
    right: 5%;
    width: 25%;
    background: whitesmoke;
    height: auto;
    margin-bottom: 10px;
    -webkit-box-shadow: 2px -2px 0px gainsboro;
    cursor:default;
}

.rodaP{
    float: left;
    position: relative;
    margin-top: 105px;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background: #7A0001;
    color: whitesmoke;
    font-family: Arrie;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.textoAp#prop{
    margin: 5% 5%;
    font-size: 16px;
}

.ImgProp{
    background-image: url(imagens/CtrlBITimagem.jpg);
    background-size: 100% 100%;
    width: 80%;
    height: 160px;
    padding: 20px 20px;
    
}
.shad{
    float: bottom;
    background-color: red;
    position: fixed;
    bottom: -20px;
    width: 100%;
    height: 20px;
    left: 0px;
    -webkit-box-shadow: 0px -5px 50px black;
}

.caixaPerfil{
    background-color: lightgray;
    float: top;
    position: relative;
    width: 95%;
    height: 220px;
    margin: 15px 15px;
    -webkit-box-shadow: 0px 2px 0px #7A0001;
    
}
.foto{
    float: left;
    position: absolute;
    margin-left: 20px;
    height: 80%;
    padding: 20px 20px;
    background-color: whitesmoke;
    -webkit-box-shadow: 2px 2px 5px gray;
    color: #202020;
}
.textI{
    float: right;
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    color: #202020;
    font-family: arial;
    font-size: 16px;
    text-align: justify;
}

a{
    text-decoration: none;
    color: #7A0001;
}
